
# Compiled output
/dist

# Node
/node_modules
pnpm-error.log
pnpm-lock.yaml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Vs code files
.vscode


#env
.env